form {
    box-shadow: 2px 2px 2px grey;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 60px auto 20px auto;
    
}

.form-group {
    margin: 20px auto 20px auto;   
}

.formTitle {
    padding: 20px;
}

form.content_box {
    margin-top: 100px;
    border: 0.5px solid rgb(182, 182, 182);
    border-radius: 8px;
}

.submitBtn {
    background-color: #ece4db;
    box-shadow: 2px 2px 2px grey;
}