.card_container:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card_container {
    box-shadow: 2px 2px 2px 2px grey;
}

.appImage {
    border-bottom: 1px solid rgba(187, 187, 187, 0.705);
}

.techList {
    padding-top: 20px;
}

.links {
    text-align: center;
}

.links a {
    color: black;
}
