.content_box {
    /* border: 3px solid #d9d4d1;
    border-radius: 15px; */
    background-color: #FFF;
    margin: 50px auto 20px auto;
    
}

.portfolio-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 0.5px solid rgb(173, 173, 173);
}

.img_container {
    /* Project Images */
    position: relative;
    margin: 20px;
}

.text-block {
    /* Text Over Project Images */
    width: 100%;
    background-color: #B56576;
    color: white;
    padding: 20px 20px 5px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

a.portfolio {
    color: white;
}

a:hover {
    color: #170263;
}