/* Navigation Bar Styles */
.navbar {
    height: auto;
}

.logo {
    width: 300px;
}

.navbar-brand {
    font-weight: 500;
    font-size: 60px;
    color: #FFF;
    margin-left: 20px;
}

.navbar-nav {
    margin-right: 30px;
    font-size: 18px;
}
