/* Navigation Bar Styles */

/* Navigation Links */
.navbar-nav {
    margin-right: 30px;
    font-size: 18px;
}

/* Logo Sizing */
@media only screen and (max-width: 600px) {
    .navbar-brand {
        width: 30%;
    }

    .logo {
        width: 200px;
    }
}

@media only screen and (min-width: 600px) {
    .navbar-brand {
        width: 50%;
    }

    .logo {
        width: 300px;
    }
}
