/* Navigation Bar Styles */
.navbar {
    height: auto;
    /* background-color: #355070; */
    background-color: #FFC4A3;
    border-bottom: 0.5px solid white;
}

.navbar-brand {
    font-weight: 500 ;
    font-size: 60px;
    margin-left: 20px;
    /* font-family: 'Fredericka the Great', cursive;
    font-family: 'Londrina Outline', cursive; */
    /* font-weight: 400; */
    /* text-shadow: 1px 1px 5px black; */
}

.navbar-nav {
    margin-right: 30px;
    font-size: 18px;
}
