.footer {
    text-align: center;
    margin-top: 200px;
}

.copyright {
    margin-bottom: 60px;
}

a:link {
    color: #000;
}

a:hover {
    color: black;
}

.socials img {
    width: 20px;
}

.socials a {
    padding-left: 5px;
    padding-right: 5px;
}

.socials a:hover {
    text-decoration: none;
}

hr {
    padding: 10px;
    width: 80%;
}