
/* Image Overlay */

.imgContainer {
    position: relative;
    /* width: 50%; */

    width: 100%;
}

.appImage {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #546A7B;
}

.imgContainer:hover .overlay {
    opacity: 1;

    /* transform: scale(1.2);
    z-index: 1; */
}

.infoOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.projTitle {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 35px;
}

.links {
    text-align: center;
    color: white;
    font-size: 16px;
}