
#about {
    text-align: center;
    padding: 20px 0;
}

.aboutTitle {
    font-size: 50px;
    padding-bottom: 60px;
    color: white;
    text-shadow: 2px 1px 1px black;
}

#profile {
    padding-top: 70 0;
    width: 70%;
    border-radius: 50%;
}

.aboutParagraph {
    font-size: 20px;
    padding-top: 100px;
    text-align: left;
}
